
.intro {
    position: relative;
    width: 100%;
    object-fit: contain;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    background-color: #ea4c4c;
}

.title_rect {
    width: 180px;
    height: 38px;
    border: solid 1px #191818;
    background-color: #f7f2f2;
}

.title_subtxt {
    width: 148px;
    height: 24px;
    margin: 3px 8px 8px 24px;
    font-family: "Jua", sans-serif;
    font-size: 25px;
    letter-spacing: -3px;
    color: #121212;
}

#title_p1 {
    font-family: "Jua", sans-serif;
    font-size: 60px;
    letter-spacing: -3px;
    color: #f6e0e3;
    width: 60%;
    height: 10%;
    padding: 0% 13% 10% 0%;
    margin: 50% 10% 2% 0%;
}

#title_p2 {
    font-family: "Jua", sans-serif;
    font-size: 60px;
    letter-spacing: -3px;
    color: #f6e0e3;
    width: 120%;
    height: 10%;
    padding: 0% 0% 0% 0%;
    margin: 20% 10% 2% 0%;
}

.subtitle {
    width: 90%;
    height: 48px;
    margin: 0% 10% 1% 0%;
    padding: 0% 13% 0% 0%;
    font-family: "Noto Serif KR", serif;
    font-size: 15px;
    color: #f6e0e3;
}
/* 여기부터 수정!! */
.intro_bg {
    width: 100%;
    height: 96px;
    margin-top: 0px;
    background-color: #d8d8d8;
}

.intro_btn {
    width: 304px;
    height: 69px;
    margin: 16px 28px 17px 28px;
    border-radius: 5px;
    background-color: #f20530;
}

.intro_btn_txt:not answer {
    width: 99px;
    height: 25px;
    margin: 34px 129px 37px 132px;
    font-family: "Jua", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    color: #f2f2f2
}

#nemo {
    position: relative;
    top: 21px;
}
